.experiencia{
  max-width: 75rem;
  padding: 2.5rem 1.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;

}

.experiencia .subtitle{
  color: #000000;
}

.experiencia-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 3.75rem;
  color: #525252;
}

.experiencia-texto strong{
  color: #141414;
}

.empresas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem;
  background: #f5f5f5;
  margin-bottom: 1.25rem;
  border-radius: 0.625rem;
  position: relative;
  gap: 0.5rem 1rem;
}

.empresas::before{
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background-image: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresas-ano{
  width: 5rem;
  text-align: right;
  position: absolute;
  top: 22px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
}

.empresas-titulo{
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresas-texto{
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresas-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;

}

.empresas-habilidades li{
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 800px){
  .experiencia{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .experiencia .subtitle{
   color: #141414;
   }

  .empresas-texto{
    font-size: 1.25rem;
  }

  .empresas-ano{
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    color: black;
    font-weight: bold;
  }

}

@media (max-width: 400px){
  .empresas{
    grid-template-columns: 1fr;
  }

}








